{% extends 'blogs/blogs_base.html' %}

{% block post %}
<div class="card z-depth-0 post-card">
  <div class="card-content">
    <div class="card-title">
      归档
    </div>
    <div class="archive">
      <ul>
        {% for post in post_list %}
          <li>
            {% if post.date %}
              <h2>{{ post.date }}</h2>
            {% endif %}
              <dl class="dl-horizontal">
                <dt><span>{{ post.publish_time|date:'Y-m-d' }}</span></dt>
                <dd><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></dd>
            </dl>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block sidebar %}
  {% include '_macro/sidebar_index.html' %}
{% endblock %}