{% load visitor_tags %}
{% load licomments %}
{% fill_ctx %}

<footer class="page-footer indigo">
  <div class="bs-container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ site_ext.title }}</h5>
        <p class="grey-text text-lighten-4">{{ site_ext.sub_title }}</p>
                {% visitors_on_site as visitors %}
        {% visitors_on_page as same_page %}
        {% pv_on_site as pv %}
        {% uv_on_site as uv %}
        <div class="mb5">
          网站上线 {{ site_publish_days }} 天，访问量 {{ pv }}，独立访客 {{ uv }}，当前在线人数 {{ visitors }}，
          最近一次更新网站代码是{{ last_publish_days }}天前。
        </div>
      </div>
      <div class="col l3  s12">
        <h5 class="white-text">联系作者</h5>
        <ul>
          {% for item in site_ext.contact  %}
          <li><a class="grey-text text-lighten-3" href="{{ item.url }}">
            {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %} {{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col l3  s12">
        <h5 class="white-text">友情链接</h5>
        <ul>
          {% for item in site_ext.links %}
          <li><a class="grey-text text-lighten-3" href="{{ item.url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="text-center">
         PyLixm © 2015 - 2018  Power by <a href="https://www.djangoproject.com/">Django 1.11LTS </a>
      </div>
    <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
    </div>
  </div>
</footer>