<!--侧栏-->
<div class="sidebar">
  <div class="card z-depth-0">
    <div class="card-content">
      <p><script src='//w.segmentfault.com/card/1030000004045770.js?w=0&3rd=0&bg=0&bd=0&cl=333333&btn=009a61&noBtn=0'></script></p>
    </div>
  </div>
  <div class="card z-depth-0">
    <div class="card-content">
      <div class="card-title">
      热门标签
      </div>
      {% for tag in sidbar_tag_list %}
      <div class="chip"><a href="{% url 'tag' tag.name %}">{{ tag.name }}({{ tag.post_count }})</a></div>
      {% endfor %}
    </div>
  </div>
  <div class="card z-depth-0">
    <div class="card-content">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 首页右下 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:336px;height:280px"
           data-ad-client="ca-pub-4123451200170531"
           data-ad-slot="4990845727"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
  <!-- /.blog-sidebar -->
</div>